<!--
    Yafim Vainilovich
    March 2, 2019
    328/dating/views/admin.html
-->
<!DOCTYPE html>
<html lang="en">
<head>
     <!-- Required meta tags -->
      <meta charset="UTF-8">
      <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>Admin</title>
</head>

<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Dating</a>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="../dating">Home <span class="sr-only"></span></a>
      </li>
    </ul>
</nav>

<br>
<div class="p-4">
<h2>My Dating Site</h2>
<h4>Memberships</h4>
<br>
            <table class="table table-hover">
                    <th>ID</th>
                    <th>Last Name</th>
                    <th>First Name</th>
                    <th>Age</th>
                    <th>Gender</th>
                    <th>Phone Number</th>
                    <th>Email</th>
                    <th>State</th>
                    <th>Seeking</th>
                    <th>Premium</th>
                    <th>Image</th>
                    <th>Interests</th>
                    <th>Bibliography</th>
                </tr>
                <repeat group="{{ @members }}" value="{{ @member }}">
                    <tr>
                        <tr>
                            </td>
                            <td>{{ @member['member_id'] }}</td>
                            <td>{{ @member['lname'] }}</td>
                            <td>{{ @member['fname'] }}</td>
                            <td>{{ @member['age'] }}</td>
                            <td>{{ @member['gender'] }}</td>
                            <td>{{ @member['phone'] }}</td>
                            <td>{{ @member['email'] }}</td>
                            <td>{{ @member['state'] }}</td>
                            <td>{{ @member['seeking'] }}</td>
                            <check if="{{ (@member['premium'] == 1) }}">
                                <true>
                                    <td class="text-center"><input type="checkbox" checked disabled></td>
                                </true>

                                <false>
                                    <td class="text-center"><input type="checkbox" disabled></td>
                                </false>
                            </check>
                            <td></td>
                            <td>{{ @member['interests'] }}</td>
                            <td>{{ @member['bio'] }}</td>
                    </tr>
                </repeat>
            </table>
        </div>

</body>
</html>