<!--
    Yafim Vainilovich
    Feb 02, 2019
    328/dating/views/home.html
-->

<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="UTF-8">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

  <title>Home</title>

</head>
<body>

<br>
<div class="container-fluid">

    <!-- Image that is on the right side -->
    <div class="col-md-7 float-right">
        <img src="images/dating.jpg" class="img-fluid rounded" alt="dating">
    </div>

    <div class="col-md-5 float-left">

        <!-- Main Title -->
        <h2 class="text-center">Find Your Date!</h2>

        <!-- Body Text -->
        <p>Welcome to the web's most successful website. At <b>My Dating Website</b>
         you'll meet another like minded individuals. We have the highest success rate of couples
         on the web. User's are matched by interest and location. Find out why so many others
         have found love on our site!</p>
        <br>

        <!-- Subheader -->
        <h4 class="text-center">Hear what our users are saying about us. </h4>

        <!-- Reviews -->
        <hr>
        <p><i>"I met the love of my life after only a month!" - Andrea</i></p>
        <p><i>"It was so easy to set up profile and start meeting people.
        I didn't realize how many others were looking for love in my area." - John Smith </i></p>
        <p><i>"Just try it! You'll never be the same!" - Sarah</i></p>
        <hr>

        <!-- Bootstrap button -->
        <div class="text-center">
            <a href="register" class="btn btn-warning rounded " >Create a Profile!</a>
        </div>
        <br>
    </div>
</div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>